<div class="banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1);">
  <div class="container text-center">
    <h1>Movies in <%= @list.name %></h1>
  </div>
</div>

<div class="container mt-5">
  <div class="cards-trip">
    <% @movies.each do |movie| %>
    <div class="card-trip">
      <img src="<%= movie.poster_url %>" />
      <div class="card-trip-infos">
        <div>
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
        </div>
        <h2 class="card-trip-pricing"><%= movie.rating %></h2>
      </div>
    <% end %>
    </div>
  </div>
</div>
