<div class="banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1);">
  <div class="container text-center">
    <h1>Movies in <%= @list.name %></h1>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-end">
    <a href="#" class="btn btn-primary my-3">Create a Movie</a>
  </div>
  <div class="cards-trip mb-5">
    <% @bookmarks.each do |bookmark| %>
      <% @movies.each do |movie| %>
        <div class="card-trip">
          <img src="<%= movie.poster_url %>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= movie.title %> <span class="rating-grey">⸱ <%= movie.rating %></span><span class="rating-star"> ★</span></h2>
              <p><%= movie.overview %></p>
            </div>
            <p><%= bookmark.comment %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
